<html>
  <body>
    <form action="/keywords" method="post">
      <img src="jockey.jpg"/>
      <textarea name="document" rows="22" cols="70"></textarea>
      <input type="submit" value="Get keywords"/>
    </form>
  </body>
</html>
